.page-title-box {
  padding: 20px 0; //80px 0;
  border-top: solid $light-gray; //메뉴바와의 구분선: 1px solid $light-gray;

  .page-title {
    font-size: 45px; //57px
    line-height: 70px; //70px
    margin: 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;

    .page-title {
      font-size: 47px;
      line-height: 53px;
    }
  }
}

.page__head {
  
  .page-image {
    width: 70%; // 상단 이미지 size 조정
    height: 70%; 
    margin: 0 auto; // 상단 이미지 가운데 정렬
    background-size: cover; //contain
    background-position: center center;
    background-repeat: no-repeat; // 이미지 반복코드 no-repeat
    background-color: $white;

    &:after {
      content: "";
      display: table;
      width: 100%;
      //height: 90%;
      min-height: 200px; //300px
      padding-top: 50%;
    }
  }
}

.page {
  margin: 50px auto; //80px

  img {
    margin: 30px 0;
  }

  @media only screen and (max-width: $tablet) {
    margin: 40px auto;
  }
}

.page-box {
  text-align: center;

  .back-arrow {
    a {
      display: inline-block;
      margin-left: 10px;
      color: $dark;
      font-weight: 700;
      &:hover {
        color: $black;
      }
    }
  }
}